#payment-info .amount-wrapper {
    /*  overriding the bootstrap class */
    background: inherit !important;
    border: none !important;
}
input:invalid {
    box-shadow: 0 0 5px 1px red;
  }
  .radio-group-wrapper {
    width: 34%;
    padding-top: 6px;
    padding-bottom: 6px;
    background: #adb5bd;
    border-radius: 5px;
  }